beautifulsoup4==4.4.1
bitbucket-issues-cli==0.1a1
closure-linter==2.3.17
coursera==0.0.3
Django==1.7
html5lib==1.0b8
mercurial==3.6.2
Naked==0.1.31
oauthlib==1.0.3
pyasn1==0.1.9
pycrypto==2.6.1
PyJWT==1.4.0
python-gflags==2.0
python-openid==2.2.5
python-social-auth==0.2.14
PyYAML==3.11
requests==2.8.1
requests-oauthlib==0.6.1
shellescape==3.4.1
six==1.10.0
urllib3==1.12
vboxapi==1.0
wheel==0.24.0
